

  #logo{
        }
        body{
            background-color:#ebeff5;
        }
        #total-orders{
                background-color:#4cb4c7;
        }
        #orders-delivered{
                background-color:#7abecc;
        }
        #orders-pending{
                background-color:#7CD1C0;
        }
        #pending{
                background-color:#d1827c;
        }

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .zoom:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

/*
.dropbtn {
  background-color: navbar-dark bg-dark;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
*/

/*
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: navbar-dark bg-dark;}
*/

.topnav-right {
  float: right;
}


body {
  background: #f2f2f2;
}

.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}
/*

.dropdown-toggle::after {
   transition: transform 0.15s linear;
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}
*/

.card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
}

.card:hover {
    transform: scale(1.1);
}

