{% extends 'accounts/main.html' %}

{% block content %}


<br>

<div class="card-deck">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 card text-white bg-info">
        <div class="card-header text-center text-uppercase font-weight-bold">Total User</div>
        <div class="card-body text-center">
            <h3 class="card-title">Total User</h3>

        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 card text-white bg-info">
        <div class="card-header text-center text-uppercase font-weight-bold">Active User</div>
        <div class="card-body text-center">
            <h3 class="card-title">Active User</h3>

        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 card text-white bg-info">
        <div class="card-header text-center text-uppercase font-weight-bold">Total Admin</div>
        <div class="card-body text-center">
            <h3 class="card-title">Total Admin</h3>

        </div>
    </div>

</div>

<br>


<div class="row">
    <div class="col">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <table id="users" class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Date of joining</th>
                        <th>Last login</th>
                        {% if request.user.is_superuser %}
                        <th>Active</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody id="myTable">

                    {% for u in user %}

                    <tr>
                        <td>{{u.username}}</td>
                        <td>{{u.email}}</td>
                        <td>{{u.date_joined}}</td>
                        <td>{{u.last_login}}</td>
                        {% if request.user.is_superuser %}
                        <td> <a href="{% url  'updateUser' u.id %}" class="btn btn-info" role="button" aria-disabled="true">Edit</a></td>
                        {% endif %}
                    </tr>

                {% endfor %}
                </tbody>

                <tfoot class="thead-dark">

                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Date of joining</th>
                        <th>Last login</th>
                        {% if request.user.is_superuser %}
                        <th>Active</th>
                        {% endif %}
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>

<script>
    $('#users').DataTable();
</script>


{% endblock content %}
