{% extends 'accounts/main.html' %}

{% load static %}

{% block content %}

<br>
<div class="row">
    <div class="col-md-6 ">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <p>Are you want to delete "{{amount}}"?</p>
            <form action="{% url 'delete_amount' amount.id %}" method="post">
                {% csrf_token %}

                <a class="btn btn-warning" href="{% url 'amounts' %}">Cancel</a>

                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>
        </div>
    </div>
</div>

{% endblock %}