{% extends 'accounts/main.html' %}

{% block content %}

<style>
.profile-pic{
    max-width: 200px;
    max-height:200px;
    margin: 0 auto;
    border-radius: 50%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


.parent{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.child{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}



</style>


<div class="row">

    <div class="col-3 shadow p-3 mb-5 bg-white rounded">
        <h1>Left side bar</h1>
    </div>

    <div class="parent col-6 shadow p-3 mb-5 bg-white rounded" style="height:550px">

        <div class="child col-md">

            {% for deposite in deposit_posts %}

            <div class="shadow p-3 mb-5 bg-white rounded" >
                <img src="{{deposite.diposite_pic.url}}" height="200" width="auto" alt="Responsive image">
                <div class="card-body">
                    <div class="row">
                        <div class="card-title col" style="align: left">{{deposite.profile.name}}</div>
                        <div class="card-title col" style="align: right">{{deposite.profile.member_id}}</div>
                    </div>

                    <div class="row">
                        <div class="card-title col" style="align: left">{{deposite.date}}</div>
                        <div class="card-title col" style="align: right">BDT: {{deposite.amount}} TK Only</div>
                    </div>

                </div>
            </div>

            <br>
            {% endfor %}

        </div>


    </div>


    <div class="col-3 shadow p-3 mb-5 bg-white rounded">
        <h1>Right side bar</h1>
    </div>

</div>

{% endblock content %}