{% extends 'accounts/main.html' %}

{% block content %}

<br>


<div class="card-deck">

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 card text-white bg-info">
    <div class="card-header text-center text-uppercase font-weight-bold">{{profile.name}}</div>
      <div class="card-body text-center">
            <h3 class="card-title">{{profile.member_id}}</h3>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 card text-white bg-info">
    <div class="card-header text-center text-uppercase font-weight-bold">Total Pending Amount</div>
      <div class="card-body text-center">
        <h3 class="card-text text-center">BDT: {{total_pending_amount}}</h3>
      </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 card text-black bg-light">
        <table class="table">
            <tr>
                <td>From Date:</td>
                <td><input class="form-control" id="from_date" onchange="onDateChange()" type="date" placeholder="From Date"></td>
            </tr>
                 <tr>
                    <td>To Date:</td>
                 <td><input class="form-control" id="to_date" onchange="onDateChange()" type="date" placeholder="To Date"></td>
                 </tr>
        </table>
    </div>


</div>

<br>

<div class="row">
    <div class="col">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <table id="example" class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Payment Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody id="myTable">

                {% for p in amountprofile %}

                {% if p.status == 'Pending' %}
                    <tr class="table-danger">
                        <td>{{p.date}}</td>
                        <td>{{p.amount}}</td>
                        <td>{{p.status}}</td>
                    </tr>

                {% endif%}

                {% endfor %}
                </tbody>

                <tfoot class="thead-dark">
                    <tr>
                        <th>Payment Date</th>
                        <th>Amount: {{total_amount}}</th>
                        <th>Status</th>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>

<script>

<!--DateTable sorting-->

$(document).ready(function() {
    $('#example').DataTable();
} );



<!--Date search-->

$(document).ready(function(){
  $("#date").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});






</script>

{% endblock content %}
