{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{% static 'images/logo.png' %}" height="40px" width="50px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>

                {% if request.user.is_staff %}

                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Admin Panel
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url  'all_user' %}">All User</a>
                      <a class="dropdown-item" href="{% url  'register' %}">Create User</a>
                        <a class="dropdown-item" href="{% url  'total_cost' %}">Total Cost</a>
                        <a class="dropdown-item" href="{% url  'create_amount' %}">Add Amount</a>
                        <a class="dropdown-item" href="{% url  'create_profile' %}">Create profile</a>
                        <a class="dropdown-item" href="{% url  'create_deposite' %}">Create Deposite</a>
                    </div>
                  </li>
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"-->
<!--                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin Panel</a>-->
<!--                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">-->
<!--                        <a class="dropdown-item" href="{% url  'all_user' %}">All User</a>-->
<!--                        <a class="dropdown-item" href="{% url  'total_cost' %}">Total Cost</a>-->
<!--                        <a class="dropdown-item" href="{% url  'create_amount' %}">Add Amount</a>-->
<!--                        <a class="dropdown-item" href="{% url  'create_profile' %}">Create profile</a>-->
<!--                        <a class="dropdown-item" href="{% url  'create_deposite' %}">Create Deposite</a>-->
<!--                    </div>-->
<!--                </li>-->
            {% endif %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Feeds Panel</a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'depositeFeed' %}">Feeds</a>
                        <a class="dropdown-item" href="#">Your Feeds</a>
                        <a class="dropdown-item" href="{% url  'create_deposite' %}">Create Feeds</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'members' %}">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'amounts' %}">Amounts</a>
                </li>
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{request.user}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'your_profile'  %}">Profile</a>
                        <a class="dropdown-item" href="#">Terms and Conditions</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--<script>-->
<!--const $dropdown = $(".dropdown");-->
<!--const $dropdownToggle = $(".dropdown-toggle");-->
<!--const $dropdownMenu = $(".dropdown-menu");-->
<!--const showClass = "show";-->

<!--$(window).on("load resize", function() {-->
<!--  if (this.matchMedia("(min-width: 768px)").matches) {-->
<!--    $dropdown.hover(-->
<!--      function() {-->
<!--        const $this = $(this);-->
<!--        $this.addClass(showClass);-->
<!--        $this.find($dropdownToggle).attr("aria-expanded", "true");-->
<!--        $this.find($dropdownMenu).addClass(showClass);-->
<!--      },-->
<!--      function() {-->
<!--        const $this = $(this);-->
<!--        $this.removeClass(showClass);-->
<!--        $this.find($dropdownToggle).attr("aria-expanded", "false");-->
<!--        $this.find($dropdownMenu).removeClass(showClass);-->
<!--      }-->
<!--    );-->
<!--  } else {-->
<!--    $dropdown.off("mouseenter mouseleave");-->
<!--  }-->
<!--});-->

<!--</script>-->


