{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}



</style>
<br>
<div class="container">

    <div class="col-md">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h4>Nominee Information</h4>
            <hr>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md">

                        <table class="table table-borderless table-hover">
                            <tbody>
                                <tr>
                                    <td>Nominee Name:</td>
                                    <td>{{form.nominee_name}}</td>
                                </tr>
                                <tr>
                                    <td>Father's Name:</td>
                                    <td>{{form.nominee_father_name}}</td>
                                </tr>
                                <tr>
                                    <td>Mother's Name:</td>
                                    <td>{{form.nominee_mother_name}}</td>
                                </tr>
                                <tr>
                                    <td>Phone:</td>
                                    <td>{{form.nominee_phone}}</td>
                                </tr>
                                <tr>
                                    <td>Relation with Nominee:</td>
                                    <td>{{form.relation}}</td>
                                </tr>
                                <tr>
                                    <td>Gender:</td>
                                    <td>{{form.nominee_gender}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md">

                        <table class="table table-borderless table-hover">
                            <tbody>
                                <tr>
                                    <td>NID:</td>
                                    <td>{{form.nominee_nid}}</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth:</td>
                                    <td>{{form.nominee_dob}}</td>
                                </tr>
                                <tr>
                                    <td>Marital Status:</td>
                                    <td>{{form.nominee_marital_status}}</td>
                                </tr>
                                <tr>
                                    <td>Religion:</td>
                                    <td>{{form.nominee_religion}}</td>
                                </tr>
                                <tr>
                                    <td>Permanent Address:</td>
                                    <td>{{form.nominee_present_address}}</td>
                                </tr>
                                <tr>
                                    <td>Present Address:</td>
                                    <td>{{form.nominee_permanent_address}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr>
                
                <div class="d-flex justify-content-center">
                    <input type="submit" class="btn btn-success btn-lg">
                </div>

            </form>
        </div>
    </div>
</div>


{% endblock %}