{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<style>
	.profile-pic{
		max-width: 300px;
		max-height: 300px;
		margin: 0 auto;
		border-radius: 50%;
	}



</style>

<br>

<div class="row">
    <div class="col-md-3">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h5>Profile Picture</h5>
            <hr>
            <div class="text-center">

                <img class="profile-pic" src="{{profile.profile_pic.url}}" alt="">
            <!--            <h1 style="text-align:center;padding:5px">Total</h1>-->
            </div>
            <hr>

           {% if request.user.id == profile.user.id  %}

            <a href="{% url 'settings' %}" class="btn btn-outline-info btn-sm btn-block">Account
                Settings</a>

            {% endif %}
        </div>

        <br>

        {% if total_pending == 0 %}

        <div class="shadow p-3 mb-5 bg-white rounded" style="color:black;">

            <h3>Total Pending: {{total_pending}}</h3>
            <hr>
            <h1 style="text-align:center;padding:10px">{{total_pending_amount}}</h1>
            <hr>
            <a href="{% url 'individual_pending_amount' profile.id %}" class="btn btn-outline-info btn-sm btn-block">View
                All
                Pending History</a>

        </div>
        {% else %}
        <div class="shadow p-3 mb-5 bg-white rounded" style="color:red;">

            <h3>Total Pending: {{total_pending}}</h3>
            <hr>
            <h1 style="text-align:center;padding:10px">{{total_pending_amount}}</h1>
            <hr>
            <a href="{% url 'individual_pending_amount' profile.id %}" class="btn btn-outline-info btn-sm btn-block">View
                All
                Pending History</a>

        </div>
        {% endif %}


        <br>
        <div class="shadow p-3 mb-5 bg-white rounded">
            <h5>Total Complete Amount: {{complete_count}}</h5>
            <hr>
            <h1 style="text-align:center;padding:10px">{{total_complete_amount}}</h1>
            <hr>
            <a href="{% url 'individual_complete_amount' profile.id %}" class="btn btn-outline-info btn-sm btn-block">View
                Complete Amounts History</a>
        </div>
    </div>

    <div class="col-md">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-md">
                    <h4>Personal Information</h4>
                </div>

                {% if request.user.id == profile.user.id  %}

                <div class="col-md">
                    <a href="{% url 'personal_information_update' profile.id %}" class="btn btn-outline-info btn-md">Edit</a>
                </div>

                {% endif %}

            </div>

            <hr>
            <div class="row">
                <div class="col-md">

                    <table class="table table-borderless table-hover">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>{{profile.name}}</td>
                            </tr>
                            <tr>
                                <td>Member ID:</td>
                                <td>{{profile.member_id}}</td>
                            </tr>
                            <tr>
                                <td>Joining Date:</td>
                                <td>{{profile.joining_date}}</td>
                            </tr>
                            <tr>
                                <td>Father's Name:</td>
                                <td>{{profile.father_name}}</td>
                            </tr>
                            <tr>
                                <td>Mother's Name:</td>
                                <td>{{profile.mother_name}}</td>
                            </tr>
                            <tr>
                                <td>Nationality:</td>
                                <td>{{profile.nationality}}</td>
                            </tr>
                            <tr>
                                <td>Gender:</td>
                                <td>{{profile.gender}}</td>
                            </tr>
                            <tr>
                                <td>Occupation:</td>
                                <td>{{profile.occupation}}</td>
                            </tr>
                            <tr>
                            <td>Designation:</td>
                                <td>{{form.designation}}</td>
                            </tr>
                            <tr>
                                <td>Company:</td>
                                <td>{{form.company}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>

                <div class="col-md">

                    <table class="table table-borderless table-hover">
                        <tbody>
                            <tr>
                                <td>Status:</td>
                                <td>{{profile.status}}</td>
                            </tr>
                            <tr>
                                <td>NID:</td>
                                <td>{{profile.nid}}</td>
                            </tr>
                            <tr>
                                <td>Date of Birth:</td>
                                <td>{{profile.dob}}</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>{{profile.email}}</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>{{profile.phone}}</td>
                            </tr>
                            <tr>
                                <td>Marital Status:</td>
                                <td>{{profile.marital_status}}</td>
                            </tr>
                            <tr>
                                <td>Religion:</td>
                                <td>{{profile.religion}}</td>
                            </tr>
                            <tr>
                                <td>Permanent Address:</td>
                                <td>{{profile.permanent_address}}</td>
                            </tr>
                            <tr>
                                <td>Present Address:</td>
                                <td>{{profile.present_address}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>

            </div>

            <hr>
            <div class="row">
                <div class="col-md">
                    <h4>Nominee Information</h4>
                </div>
            {% if request.user.id == profile.user.id  %}

                <div class="col-md">
                    <a href="{% url 'nominee_information_update' profile.id %}" class="btn btn-outline-info btn-md">Edit</a>
                </div>

            {% endif %}

            </div>
            <hr>

            <div class="row">
                <div class="col-md">

                    <table class="table table-borderless table-hover">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>{{profile.nominee_name}}</td>
                            </tr>
                            <tr>
                                <td>Father's Name:</td>
                                <td>{{profile.nominee_father_name}}</td>
                            </tr>
                            <tr>
                                <td>Mother's Name:</td>
                                <td>{{profile.nominee_mother_name}}</td>
                            </tr>
                            <tr>
                                <td>Phone:</td>
                                <td>{{profile.nominee_phone}}</td>
                            </tr>
                            <tr>
                                <td>Relation with Nominee:</td>
                                <td>{{profile.relation}}</td>
                            </tr>
                            <tr>
                                <td>Gender:</td>
                                <td>{{profile.nominee_gender}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>

                </div>
                <div class="col-md">

                    <table class="table table-borderless table-hover">
                        <tbody>
                            <tr>
                                <td>NID:</td>
                                <td>{{profile.nominee_nid}}</td>
                            </tr>
                            <tr>
                                <td>Date of Birth:</td>
                                <td>{{profile.nominee_dob}}</td>
                            </tr>
                            <tr>
                                <td>Marital Status:</td>
                                <td>{{profile.nominee_marital_status}}</td>
                            </tr>
                            <tr>
                                <td>Religion:</td>
                                <td>{{profile.nominee_religion}}</td>
                            </tr>
                            <tr>
                                <td>Permanent Address:</td>
                                <td>{{profile.nominee_permanent_address}}</td>
                            </tr>
                            <tr>
                                <td>Present Address:</td>
                                <td>{{profile.nominee_present_address}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md">
                    <h4>Bank Information</h4>
                </div>

                {% if request.user.id == profile.user.id  %}

                <div class="col-md">
                    <a href="{% url 'bank_information_update' profile.id %}" class="btn btn-outline-info btn-md">Edit</a>
                </div>

                {% endif %}

            </div>
            <hr>
            <div class="row">
                <div class="col-md">
                    <table class="table table-borderless table-hover">
                        <tbody>
                            <tr>
                                <td>Account No:</td>
                                <td>{{profile.account_no}}</td>
                            </tr>
                            <tr>
                                <td>Bank Name:</td>
                                <td>{{profile.bank_name}}</td>
                            </tr>
                            <tr>
                                <td>Branch Address:</td>
                                <td>{{profile.branch_address}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>

        </div>
    </div>

</div>

<br>

{% endblock %}
