{% extends 'accounts/main.html' %}

{% block content %}

<br>

<div class="card-deck">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-white">

    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 card text-white bg-info">
        <div class="card-header text-center text-uppercase font-weight-bold">Total Cost</div>
      <div class="card-body text-center">
                    <h3 class="card-title">{{total_cost}}</h3>

      </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-white ">

    </div>
</div>

<br>

<div class="row">
    <div class="col">
        <div class="shadow p-3 mb-5 bg-white rounded">
            <table id="amount" class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Descriptions</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
                <tbody>

                {% for c in cost %}

                    <tr>
                        <td>{{c.date}}</td>
                        <td>{{c.title}}</td>
                        <td>{{c.description}}</td>
                        <td>{{c.amount}}</td>
                    </tr>

                {% endfor %}

                </tbody>

                <tfoot class="thead-dark">

                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Descriptions</th>
                        <th>Total Cost: {{total_cost}}</th>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>

<script>
    $('#amount').DataTable();
</script>

<script>
    <!--From date to date filter-->


function onDateChange(){
    var fromDate = document.getElementById('from_date').value;
    var toDate = document.getElementById('to_date').value;
    var amountTable = document.getElementById('myTable').column;

    console.log(amountTable);

    if(fromDate && toDate){

        if(toDate >= fromDate){
            console.log(fromDate+":"+toDate);

        }
        else{
            alert("To date must be greater than From date")
        }
    }
}




</script>

{% endblock content %}
